<link href="../../../assets/assets/img/brand/favicon.png" rel="icon" type="image/png">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<!-- Icons -->
<link href="../../../assets/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">

<!-- Argon CSS -->
<link type="text/css" href="../../../assets/assets/css/argon.css?v=1.0.0" rel="stylesheet">
<table class="table align-items-center table-flush">
  <thead class="thead-light">
  <tr>
    <th  style="width: 1%">#</th>
    <th >Object</th>
    <th >Type</th>
    <th >Required</th>
    <th >Number Of Particpants</th>
    <th ></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let training of trainings | paginate: { itemsPerPage: 6, currentPage: p ,totalItems: total}">

    <td>
    {{training.idTraining}}
    </td>
    <td>
      {{training.object}}
    </td>
    <td>
      {{training.type}}
    </td>
    <td>
      {{training.required}}
    </td>
    <td>
      {{training.nbrOfParticipants}}
    </td>
    
    <td class="text-right" >
      <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#trainingDetailModal" (click)="trainingDetail.load(training.idTraining)"><i class="fas fa-folder" ></i> Needs plug </a>
      
    </td>
  </tr>

  </tbody>


</table>

<div  style="right: 0;position: absolute;
    bottom: 0;">

    <pagination-controls

      class="my-pagination"
      (pageChange)="p = $event; onPageChange($event) "
      maxSize="4"
      directionLinks="true"
      responsive="true"
      previousLabel="Previous"
      nextLabel="Next">
    </pagination-controls>

</div>
<app-training-detail #trainingDetail></app-training-detail>




