<link href="../../../../assets/assets/img/brand/favicon.png" rel="icon" type="image/png">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<!-- Icons -->
<link href="../../../../assets/assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">

<!-- Argon CSS -->
<link type="text/css" href="../../../../assets/assets/css/argon.css?v=1.0.0" rel="stylesheet">
<div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="card-header border-0">

        <h3 style="display:inline-block;">list of roles</h3>

        <button style="display:inline-block;float: right" type="button" class="btn btn-success" data-toggle="modal"
                data-target="#addRoleModal" (click)="addRole.reset()">Add Role
        </button>

      </div>
      <div class="table-responsive">
        <app-role-list #roleList></app-role-list>

      </div>
      <div class="card-footer py-4">
        <nav aria-label="...">

        </nav>
      </div>
    </div>
  </div>
</div>
<app-add-role #addRole (submitted)="roleList.load($event)"></app-add-role>


