<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addUserForm">
          <div class="row">
            <div class="col">

              <label for="firstName">First Name</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text ui-inputgroup-addon"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" id="firstName" aria-describedby="basic-addon3" placeholder="First name" formControlName="prenom">
              </div>
            </div>
            <div class="col">

              <label for="lastName">Last Name</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text ui-inputgroup-addon"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" id="lastName" aria-describedby="basic-addon3" placeholder="Last name" formControlName="nom">
              </div>


            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col">
              <label for="username">Username</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text ui-inputgroup-addon"><i class="fas fa-users"></i></span>
                </div>
                <input type="text" class="form-control" id="username" aria-describedby="basic-addon3" placeholder="Username" formControlName="username">
              </div>

            </div>
            <div class="col">
              <label for="password">Password</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text ui-inputgroup-addon"><i class="fas fa-lock"></i></span>
                </div>
                <input type="text" class="form-control" id="password" aria-describedby="basic-addon3" placeholder="Password" formControlName="password">
              </div>






            </div>
          </div>
          <hr>
          <div class="form-group">
            <label for="email">Email</label>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text ui-inputgroup-addon"><i class="fas fa-envelope"></i></span>
              </div>
              <input type="email" class="form-control" id="email" aria-describedby="basic-addon3" placeholder="Email" formControlName="email">
            </div>



          </div>
          <hr>
          <div class="form-group">
            <label for="activity">Activity</label><br>
            <p-dropdown id="activity" [options]="activities" filter="true" optionLabel="title" formControlName="activity" [style]="{'width':'100%'}">
            </p-dropdown>

          </div>
          <hr>
          <div class="form-group">
            <label for="roles">Roles</label>
            <p-listbox id="roles" [options]="roles"  multiple="multiple" checkbox="checkbox" filter="filter" optionLabel="titre" [style]="{'width':'100%'}" formControlName="roles">
              <p-header>
                <i class="fas fa-shield-alt"></i> Roles
              </p-header>
            </p-listbox>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" [disabled]="!addUserForm.valid" data-dismiss="modal" (click)="submit()">Submit</button>
      </div>
    </div>
  </div>
</div>
